.venn-diagram{
    width: 400px;
    
}

.background-grey{
    background-color: rgb(49, 46, 51);
   
}

.showcase{
    width:80%;
    height: 50%;
}

.logo{
    width: 50px;
}

.logo-text{
    color: blueviolet;
    padding-top: 15px;
}

h1{
    text-align: center;
    color: whitesmoke;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#212529;
}

.page-heading{
    height: 100px;
    text-align: center;
    padding-top: 50px;
}

.app-index{
    width: 400px;
}

.app-heading-pic{
    width: 50%
    margin: 25%
}

button{
    width: 200px;
    background-size: cover;
}

.pressed{
    box-shadow: 0 0 10px grey;
    background-color: black;
}

